@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Family  */
.hed,
h1,
h2,
h3,
button,
a {
  font-family: 'Nunito', sans-serif;
}
.prag,
p,
div {
  font-family: 'Open Sans', sans-serif;
}
.bang {
  font-family: 'Noto Sans Bengali', sans-serif;
}

/* Menu Active color */
.navigation > a.active,
.dropdownMenu > a.active {
  color: #02a4ba;
}

/* Custom Scroll  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
